{% extends 'base.html' %}
{% block content %}
<div class="card border-dark">
  
  <div class="card-header text-center">
    <h1>{{ question.question_text }}</h1>
  </div>

  <div class="card-body">
    <form action='{% url 'polls:vote' question.id %}' method='post'>
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <ul class="list-group">
      <li class="list-group-item p-3">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label class="form-radio-input" for="choice{{ forloop.counter }}">{{ choice.choice_text }}
          
        </label>
        
        
      </li>
    </ul>
    {% endfor %}
  </div>

  <div class="sub-footer text-center pb-3">
      {% if error_message  %}
      <p class="text-danger">{{ error_message }}</p>
      {% endif %}
      {% if user.is_authenticated %} 
      <input class="btn btn-secondary text-center" type="submit" value="VOTAR">
      {% else %}
      <p class="text-muted text-center small">Debe <a href="{% url 'account_login' %}">ingresar</a> o <a href="{% url 'account_signup' %}">crear una cuenta</a> para poder votar</p>
      {% endif %}
  </div>
    </form>

  <a href="{% url 'polls:detail' question.id %}"></a>
</div>

{% endblock %}