{% extends 'base.html' %}
{% block content %}
<div class="card">
  
  <div class="card-header  text-center">
    <h1>{{ question.question_text }}</h1>
  </div>

  <div class="card-body">
    <form action='{% url 'polls:vote' question.id %}' method='post'>
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <ul class="list-group">
      <li class="list-group-item p-3">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label class="form-radio-input" for="choice{{ forloop.counter }}">{{ choice.choice_text }}
          
        </label>
        
        <!-- <label class="btn btn-outline-primary" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label> -->
      </li>
    </ul>
    {% endfor %}
  </div>

  <div class="sub-footer text-center pb-3">
        {% if error_message  %}
      <p class="error">{{ error_message }}</p>
      {% endif %} 
        <input class="btn btn-primary text-center" type="submit" value="VOTAR">
  </div>
    </form>

  <a href="{% url 'polls:detail' question.id %}"></a>
</div>

{% endblock %}