{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css"> -->

{% if latest_question_list %}
<div class="card">
  
  <div class="card-header text-center">
    <h3>Últimas 5 preguntas:</h3>
  </div>

  <div class="card-body px-5">
    <div class="list-group">
      {% for question in latest_question_list %}
  
      <a class="fs-5 list-group-item list-group-item-action" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}
        <br/> <em class="fs-6">{{ question.pub_date }}</em>
      </a>

      {% endfor %}
    </div>
    {% else %}
    <h2>No hay preguntas</h2>
  </div>
</div>
  {% endif %}
  {% endblock %}