<html>
	<head>
		<style>
			* {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			
			.container-main {
							margin: auto;
							padding: 20px; 
							background-color: #666;
			}

			.brand {
							font-family: serif;
							color: white;
							font-size: 3em;
			}
		</style>
	</head>
	<body>
					<div class="container-main">
						<p class="brand">[plebiscito]</p>
						<form id="search" method="get" action="#" name="search">
										<select name="search" id="select-search" >
											<option value="categoria-1">categoria 1</option>
											<option value="categoria-2">categoria 2</option>
											<option value="categoria-3">categoria 3</option>
											<option value="categoria-4">categoria 4</option>
										</select>
							<input type="text" name="search" id="input-search" placeholder="Buscar plebiscitos...">
							<input type="submit" name="search" value="Buscar" id="button-search" form="search">
						</form>
					</div>
					<div class="">
					</div>
	</body>
</html>
